
:root{
    --font-main: 'Open Sans', sans-serif;
    --font-sub: 'PT Sans', sans-serif;
}




a, a:hover{
    text-decoration: none;
    color: inherit;
}


body{
    margin: 0;
    padding: 0;
    max-width:100vw;
    min-width: 320px;
    min-height:100vh;
    background-color: #fff;
    font-family: var(--font-main);
}

.align-center{
    display: flex;
    align-items:center;
    justify-content: center;
}
section.section{
    min-height:100vh;
    
}
.banner-image img{
    max-width: 100%;
    max-height: 100vh; 
}
.admin-detail{
    text-align:center;
    margin-bottom:1rem;
}
.admin-detail h1 {
    font-size: 60px;
    color: #333;
    font-weight: 600;
}
.admin-detail h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-family: var(--font-sub);
    font-weight: 500;
    color: #6f6f6f;
}
.admin-detail .bref {
    margin-bottom:0;
    max-width: 50%;
    margin: 0 auto;
    white-space: normal;
    text-align: center;
    font-size:18px;
    line-height: 26px;
    color: #313131;
    font-weight: 600;
}

.social-links{
    padding: 10px ;
    text-align: center;
    color: #333;
    font-size:18px;
}
.social-links .social{
    border: 2px solid #333;
    border-radius: 40px;
    margin: 0 10px;
    min-height: 30px;
    min-width: 30px;
    display: inline-block;
    text-align: center;
}
.social.si-f:hover{
    color: #3b5998;
    border-color:#3b5998;
}
.social.si-i:hover{
    color:#fbad50 ;
    border-color:#bc2a8d;
}
.social.si-t:hover{
    Color: #1da1f2; 
    border-color: #1da1f2;

}
.social.si-li:hover{
    color:#0077B5;
    border-color: #0077B5;
}


.contact-me{
    margin-bottom: 1rem;
}
.btn-contact{
    border-radius: 0;
    background-color: transparent;
    border:1px solid #333;
    font-size:18px;
    padding: 5px 30px;
    min-width: 250px;
    font-weight: 500;
    color:#333;
    transition: .5s ease-in-out;
    background: transparent;
    position: relative;

    }
    .btn-contact span{
        position: relative;
        z-index: 4;
    }
.btn-contact:hover { 
      color:white;
    transition: .5s ease-in-out;
}


.btn-contact::before,
.btn-contact::after{
    content: "";
    background:#333;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.btn-contact::after{
    left: 0;
    right: auto;
}
.btn-contact:hover::before{
    transition: .5s ease-in-out;
    width: 100%;
}
.btn-contact:hover::after{
    width: 100%;
    transition: .5s ease-in-out;
}