.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #c3e897;
  outline: 0;
  box-shadow: 0 0 0 2px #7ed0156e;
}

.form-select:focus {
  border-color: #c3e897;
  outline: 0;
  box-shadow: 0 0 0 2px #7ed0156e;
}
* {
  --bs-pagination-focus-box-shadow: #82d616;
}
.pagination {
  --bs-pagination-color: #82d616;
  --bs-pagination-active-bg: #82d616;
  --bs-pagination-active-border-color: #82d616;
}

div.dataTables_scrollBody {
  border: 0 !important;
}

.paginate_button {
  .page-link.active,
  .active > .page-link,
  .page-item.active .page-link,
  .page-item.active span {
    color: #ffffff;
  }
}

.page-item.active .page-link {
  color: #ffffff;
}

div.dataTables_wrapper {
  div.dataTables_length select {
    background-position: right 0.15rem center;
    font-size: 14px;
  }
  div.dataTables_filter input {
    width: 300px;
    max-width: 50vw;
  }

  table.dataTable thead>tr>th,
  table.dataTable tbody>tr>td{
    max-width:150px !important;
    word-wrap: break-word;
    white-space: initial !important;
  }
}
