.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #c3e897;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(126, 208, 21, 0.431372549);
}

.form-select:focus {
  border-color: #c3e897;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(126, 208, 21, 0.431372549);
}

* {
  --bs-pagination-focus-box-shadow: #82d616;
}

.pagination {
  --bs-pagination-color: #82d616;
  --bs-pagination-active-bg: #82d616;
  --bs-pagination-active-border-color: #82d616;
}

div.dataTables_scrollBody {
  border: 0 !important;
}

.paginate_button .page-link.active,
.paginate_button .active > .page-link,
.paginate_button .page-item.active .page-link,
.paginate_button .page-item.active span {
  color: #ffffff;
}

.page-item.active .page-link {
  color: #ffffff;
}

div.dataTables_wrapper div.dataTables_length select {
  background-position: right 0.15rem center;
  font-size: 14px;
}
div.dataTables_wrapper div.dataTables_filter input {
  width: 300px;
  max-width: 50vw;
}
div.dataTables_wrapper table.dataTable thead > tr > th,
div.dataTables_wrapper table.dataTable tbody > tr > td {
  max-width: 150px !important;
  word-wrap: break-word;
  white-space: initial !important;
}
div.dataTables_wrapper table.dataTable thead > tr > th:first-child,
div.dataTables_wrapper table.dataTable tbody > tr > td:first-child {
  max-width: initial !important;
  word-wrap: initial;
  white-space: nowrap !important;
}

.input-group > .custom-file {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 79.6px);
  cursor: pointer;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  overflow: hidden;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  overflow: hidden;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: none;
  font-size: 16px;
  cursor: pointer;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group-append,
.input-group-prepend {
  display: flex;
}

.input-group-append {
  margin-left: -1px;
}
.input-group-append .input-group-text {
  border-right: 1px solid #ced4da;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label,
.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after,
.input-group:not(.has-validation) > .custom-select:not(:last-child),
.input-group:not(.has-validation) > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}/*# sourceMappingURL=custom-dashboard.css.map */