$theme-dark: linear-gradient(135deg ,#206ea7, #133954 63%);
$theme-light: #fff;
$head: #13ab96;
$dark-single-bg: #182e3e;
$head-light: #74bfb5;
$section-head-g: #0e293d;
$section-head-w: #ffffff;
$text-light: #ffffff8a;
$text-head: #25af9c;
$coming-soon: #00000047;