.landing-section {
  background-color: #ffd700;
  text-align: center;
}
.about-sec {
  padding: 20px 10px;
  background-color: #ffd700;
  background-image: linear-gradient(-195deg, #ffd700 40%, #e77306 90%);
  .about-img {
    margin-bottom: -20px;
  }
}
