.contact-section {
    padding: 50px 0;
    margin: 0;
    background-image: url("../images/architecture-contact.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(157deg, #000A26, #1D0400);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: .68;
    }

    .contact-block {
        background: #2D2D2D;
        padding: 110px 115px;
        color: #F68948;
        position: relative;
        z-index: 1;
        width: 850px;
        box-shadow: 0 5px 15px rgba(246, 137, 72, .16);
        max-width: 90vw;

        h2 {
            font-family: $font-lato;
            font-weight: 600;
            font-size: 48px;
            line-height: 57px;
            margin-bottom: 55px;
        }

        .description {
            font-family: $font-roboto;
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;
            max-width: 470px;
            margin-bottom: 90px;
        }

        .submit-input {
            display: flex;
            align-items: center;

            .custom-input {
                background: transparent;
                border: 1px solid #F68948;
                padding: 15px 27px;
                border-radius: 50px 0 0 50px;
                font-weight: 300;
                color: #F68948;
                width: 80%;
                font-size: 21px;

                &::placeholder {
                    color: #f688488a;
                    font-size: 18px;
                }
            }

            .submit-contact {
                width: 20%;
                color: #fff;
                background: #F68948;
                font-size: 16px;
                padding: 15px 0;
                text-align: center;
                border-radius: 0 50px 50px 0;
            }
        }
    }

    @media screen and (max-width:1400px) {
        .contact-block {
            padding: 90px 80px;
            width: 750px;
            box-shadow: 0 5px 15px rgba(246, 137, 72, 0.26);
            max-width: 90vw;
        }
    }

    @media screen and (max-width:992px) {
        .contact-block {
            padding: 70px 55px;
            width: 700px;
            box-shadow: 0 5px 15px rgba(246, 137, 72, 0.26);
            max-width: 75vw;

            h2 {
                margin-bottom: 30px;
            }

            .description {
                margin-bottom: 70px;
            }
        }
    }

    @media screen and (max-width:768px) {
        .contact-block {
            h2 {
                font-size: 38px;
                line-height: 42px;
            }

            .description {
                font-size: 17px;
                margin-bottom: 50px;
            }

            .submit-input {
                .custom-input {
                    padding: 15px 27px;
                    font-size: 17px;
                }

                .submit-contact {
                    font-size: 13px;
                }
            }
        }
    }

    @media screen and (max-width:568px) {

        & {
            padding: 40px 32px;
            min-height: 60vh;
        }

        .contact-block {
          padding: 60px 28px;
          max-width: 90vw;

            h2 {
                font-size: 34px;
                line-height: 38px;
                margin-bottom: 20px;
            }

            .description {
                font-size: 14px;
                margin-bottom: 50px;
                line-height: 22px;
            }

            .submit-input {
                .custom-input {
                    padding: 12px 27px;
                    font-size: 17px;
                }

                .submit-contact {
                    font-size: 14px;
                    padding: 12px 0;
                    width: 25%;
                }
            }
        }
    }
}