.nav-link.dropdown-toggle {
    all: inherit;
}

.navbar.custom-nav {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;

    .nav-link {
        font-size: 14px;
        font-family: $font-mont;
        font-weight: 500;
        padding: 5px 15px;
    }

    .dropdown .nav-link.dropdown-toggle {
        background: transparent;
        color: #fff;
    }

    .dropdown-item {
        transition: 0.5s;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        color: $orange-dark;
        color: #be1c05;
        text-decoration: none;
        background-color: transparent;
        margin-left: 10px;
    }

    .navbar-toggler-icon {
        height: 4px;
        width: 30px;
        background: #fff;
        border: 0;
        position: relative;


        &:before,
        &:after {
            content: "";
            height: 4px;
            width: 27px;
            background: #fff;
            border: 0;
            position: absolute;
            top: -10px;
            right: 0;
        }

        &:after {
            content: "";
            width: 23px;
            top: 10px;
        }
    }


    @media screen and (max-width: 1400px) {
        .nav-link {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 1200px) {
        .nav-link {
            font-size: 11px;
            padding: 5px 10px;
        }
    }

    @media screen and (max-width: 768px) {
        & {
            background: #000000c9;
        }

        .nav-link {
            font-size: 16px;
            padding: 5px 10px;
        }

        .dropdown-menu {
            background: #ffffff3d;
            color: #fff;
            width: auto;
            margin-left: 9px;

            &.show {
                display: inline-block;
            }

            .dropdown-item {
                transition: 0.5s;
                color: #fff;
                padding: 5px 20px;
            }
        }
    }


}